.contact-box{
    width: 700px;
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 3%;
    padding: 3% 10% 3%;
    font-family: 'Courier New', Courier, monospace;
}

.contact-box h3{
    font-family: 'Secular One', sans-serif;
    font-size: 3rem;
    margin-bottom: 10%;
}

@media screen and (max-width: 800px){
    .contact-box{
        width: 80vw;
        padding: 3% 10% 3%;
    }
}